.tips-container {
  height: 100vh;
  width: 100%;
}
.tips-container .tips-content {
  width: 100%;
  /* height:40%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pilih-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.pilih-menu .makan1,
.pilih-menu .makan2,
.pilih-menu .makan3 {
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pilih-menu select {
  background-color: #377cd6;
  width: 80%;
  color: #f4f6f9;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .pilih-menu {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .pilih-menu .makan1,
  .pilih-menu .makan2,
  .pilih-menu .makan3 {
    width: 95%;
    padding: 20px 0;
    margin: 20px 0;
    box-shadow: 0 4px 10px -4px grey;
  }
}
.button2 {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2650d8;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.button2:hover {
  background-color: #2650d8;
}

.button2:active {
  background-color: #2650d8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
